.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    right: 43%;
    bottom: 25%;

    transform: translate(-50%, -50%);
  }
   
 
 
 
  